<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="ChatGPTUrl" value="https://api.openai.com/v1/chat/completions" />
            <setting name="ChatGPTApiKey" value="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" />
        </settings>
    </sitecore>
</configuration>