<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <settings>
            <setting name="ChatGPTUrl" value="https://api.openai.com/v1/chat/completions" />
            <setting name="ChatGPTApiKey" value="" />
        </settings>
    </sitecore>
</configuration>